.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

body {
  background-color: rgb(248, 249, 250);
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  background-color: red;
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.jumbotron2 {
  height: 150px;
  margin-top: 0px;
  margin-bottom: 0;
  background: url('../img/login.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.container2 {
  /*background-color: rgb(248, 249, 250);
  border-radius: 10px;
  height: 500px;
  text-shadow: 1px 1px 2px grey;*/
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: rgb(248, 249, 250);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;

}

/* From uiverse.io by @adamgiebl */
.cardNeuro {
  max-width: 40em;
  margin-top: 40px;
  width: 450px;
  height: 390px;
  border-radius: 10px;
  background-color: rgb(248, 249, 250);
  box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cardNeuro:hover {
  box-shadow: 0 8px 50px #23232333;
}

#formLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputLogin {
  width: 300px;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5,
    -20px -20px 60px #ffffff;
  transition: 0.3s;
  box-shadow: inset 5px 5px 10px #a9a9aa77,
    inset -5px -5px 10px #ffffff7e;
  margin-bottom: 10px;
  margin-top: 10px;
}

.inputLogin:hover {
  background: #d4d4d4;
}

.inputLogin:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
    inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}

#logout {
  height: 20px;
  padding: 0px 5px;
  font-size: 10px;
  margin-top: 10px;
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.buttonNeuro {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #fcfcfc;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
  margin-top: 15px;
}

.buttonNeuro:hover {
  border: 1px solid white;
  animation: rotate624 0.7s ease-in-out both;
  background: #c4c4c4;
  color: whitesmoke;
}

.buttonNeuro:hover span {
  animation: storm1261 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

.buttonNeuro:active {
  box-shadow: 4px 4px 12px #c5c5c5,
    -4px -4px 12px #ffffff;
}

#g_id_onload {
  margin-top: 20px;
}

#buscar {
  width: 500px;
}

.ocultar {
  display: none;
}

/* From uiverse.io by @alexruix */
.cardProduct {
  margin-top: 50px;
  width: 750px;
  height: 550px;
  /*padding: .8em;*/
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

.cardProduct-img {
  background-color: #e8e8e8;
  height: 40%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
}

.cardProduct-info {
  padding-top: 3%;
  text-align: center;
  text-shadow: 1px 1px 2px grey;
}

svg {
  width: 20px;
  height: 20px;
}

.cardProduct-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 20px 20px;
}

.cardProduct-title {
  font-weight: 900;
  font-size: 1.4em;
  line-height: 1.5;
}

.cardProduct-body {
  font-size: 1.0em;
  padding-bottom: 10px;
}

.cardProduct-button {
  border: 1px solid #252525;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
}

.cardProduct-img:hover {
  /*transform: translateY(-25%);*/
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.cardProduct-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

.price {
  color: rgba(17, 11, 182, 0.573);
  font-size: 1.6em;
}


/* Slider style */
.containerSlider {
  margin: auto;
  width: 500px;
  padding: 30px;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
  background: #fff;
}

ul.slider li img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

ul.slider li:first-child {
  opacity: 1;
}

ul.slider li:target {
  opacity: 1;
}

.menu {
  text-align: center;
  margin-top: 200px;
}

.menu li {
  display: inline-block;
  text-align: center;
  margin-top: 60px;
}

.menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 100%;
}

.com {
  font-family: 'Raleway', serif !important;
  font-size: medium;
  margin-top: 10px;
}

.diseño_user {
  font-family: 'Raleway', serif !important;
  font-size: medium;
  color: #949191;
}

.design_date {
  font-family: 'Raleway', serif !important;
  font-size: small;
  color: #949191;
}

.checked {
  color: orange;
}

#ficha3 {
  text-align: start;
  font-size: medium;
}

/* Selección de estrellas */

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  float: left;
  font-size: 40px;
}

label:hover,
label:hover~label {
  color: orange;
}

input[type="radio"]:checked~label {
  color: orange;
}

#relacionados {
  display: contents;

}

.name {
  color: rgb(189, 189, 189);
  text-shadow: 1px 1px 2px black;
  font-weight: 600;
  font-size: 1.3em;
  line-height: 1.0;

}


.left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.shadow {
  box-shadow: 15px 15px 15px #bebebe,
    0px 0px 5px #b7b7b7;
}